body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;  
  
}
html{
  font-size: 62.5%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

h2:hover{
  color: white;
  font-weight: bold;
  font-size: 33px;
  
  
}

